.contactus_page {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin: 3rem;
}
.contactpage_details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem;
  margin-top: 1rem;
  text-align: center;
  padding: 1rem 2rem;
}
.contactpage_details_second,
.contactpage_details_first .contactpage_details_first_detail {
  display: flex;
  flex-direction: column;
}
.contactpage_details_first .contactpage_details_first_social {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1rem;
}
.contactpage_details_second .contact_icon,
.contactpage_details_first div .contact_icon {
  font-size: 3rem;
  color: var(--color-blue);
}
.contactpage_details_second h2,
.contactpage_details_first_detail h2 {
  font-size: 2.2rem;
  font-weight: 500;
  color: var(--color-blue);
  margin: 0;
  padding: 1rem 0;
}

.contact_page_link {
  padding: 1rem;
}
.contact_page_link a {
  text-decoration: none;
  color: var(--color-blue);
  font-size: 1.2rem;
}
.contactpage_details_first .contactpage_details_first_social span a:hover,
.contact_page_link a:hover {
  color: var(--main-color);
}

.contactpage_details_first .contactpage_details_first_social span {
  padding: 1rem;
}
.contactpage_details_first .contactpage_details_first_social span a {
  font-size: 2rem;
  color: var(--color-blue);
}
.contactpage_fillform {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #e9f9ff;
  padding: 4rem 2rem 3rem 2rem;
  border-radius: 2rem;
}

.contactpage_fillform div {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}
.contactpage_fillform div span {
  font-size: 1.5rem;
}
.contactpage_talkform_input {
  width: 27rem;
  border-radius: 1rem;
}
.contactpage_fillform div:last-child {
  justify-content: center;
}
.contactpage_form_submit {
  background-color: var(--main-color);
  width: 9rem;
  border: 1px solid var(--main-color);
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 1.8rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.5rem;
  margin: 4px 2px;
  cursor: pointer;
}

.contactpage_form_submit:hover {
  background-color: var(--color-blue);
  border: 1px solid var(--color-blue);
  color: #fff;
  transition: 0.3s;
}

@media only screen and (max-width: 1200px) {
  .contactus_page {
    grid-template-columns: repeat(2, 1fr);
  }
  .contactpage_details {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2rem;
    margin-top: 1rem;
    text-align: center;
    padding: 1rem 2rem;
  }
  .contactpage_fillform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #e9f9ff;
    padding: 4rem 2rem 3rem 2rem;
    border-radius: 2rem;
  }
  .contactpage_fillform div {
    display: flex;
    justify-content: space-between;
    padding: 1rem 0rem;
  }
  .contactpage_fillform div span {
    font-size: 1.2rem;
  }
  .contactpage_talkform_input {
    width: 25rem;
    border-radius: 1rem;
  }
}

@media only screen and (max-width: 960px) {
  .contactus_page {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    margin: 3rem 2rem;
  }
  .contactpage_details {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2rem;
    margin-top: 1rem;
    text-align: center;
    padding: 1rem 1rem;
  }
  .contactpage_fillform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #e9f9ff;
    padding: 4rem 1rem 3rem 1rem;
    border-radius: 2rem;
  }
  .contactpage_talkform_input {
    width: 18rem;
    border-radius: 1rem;
  }
}

@media only screen and (max-width: 768px) {
  .contactus_page {
    grid-template-columns: 100%;
  }
  .contactpage_details {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    margin-top: 1rem;
    text-align: center;
    padding: 1rem 2rem;
  }
  /* .contactpage_fillform div span {
    font-size: 1rem;
  } */
  .contactpage_talkform_input {
    width: 24rem;
    border-radius: 1rem;
  }
  .contact_page_link {
    padding: 1rem 0 0 0;
  }
}

@media only screen and (max-width: 560px) {
  .contactus_page {
    grid-template-columns: 100%;
    grid-gap: 1rem;
    margin: 3rem 1rem;
  }
  .contactpage_details {
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 2rem;
    margin-top: 1rem;
    text-align: center;
    padding: 1rem 2rem;
  }
  .contactpage_fillform {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    padding: 2rem 2rem 2rem 2rem;
    border-radius: 2rem;
  }
  .contactpage_fillform div span {
    font-size: 1.3rem;
  }
  /* .contactpage_fillform div span {
    font-size: 1rem;
  } */
  .contactpage_talkform_input {
    width: 10rem;
    border-radius: 1rem;
  }
  .contact_page_link {
    padding: 1rem 0 0 0;
  }
}
